
<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <style>
        #inputword{
            margin: 5px;
            margin-left: 10%;
        }
        #inputword input[type=text]{
            width: 340px;
            height: 50px;
            font-size: 30px;
        }
        #inputword button[type="submit"] {
            cursor:pointer;
            width:340px;
            border:none;
            background:#0CF;
            color:#FFF;
            margin:0 0 5px;
            padding:10px;
            font-size:30px;
            margin-top: 5px;
        }
        #inputword button[type="submit"]:hover {
            background:#09C;
        }

        #inputword button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }
        </style>
    </head>

    <body>
    <div style="height: 100%; width: 100%; position: absolute; display:column; top: 0; right: 0;">
        <div style="height: 50px; text-align: center; font-size: 36px; font-weight: bold;">
                <p> Obfuscation With Wordle</p>  
        </div>
        <hr />
        <div style="width: 100%; display: flex;"> 
            <div style="height: 20%; width: 70%;">
                <form action="/" name="inputword" id="inputword" method="POST">
                    <label for="word" style="font-size: 30px; font-weight: bold; ">Enter Five Letter Word</label> <br />
                    <input type="text" id="word" name="word" required minlength="5" maxlength="5" placeholder="Five letter word"> <br />
                    <input type="hidden" value="false" name="notseen" id="notseen" />
                    <button type="submit" class="playButton" >Play</button> 
                </form>
                <form action="/random" name="inputword" id="inputword" method="POST">
                    <input type="hidden" value="true" name="notseen" id="notseen" />
                    <button type="submit">Select Random</button>
                </form>
            </div>
            <div class="infotab" name="infotab" >
                <p style="font-size: 25px;">
                    Input word in a box and click Play <br />Or<br />
                    Select 'Select Random' button to select word randomly
                    </p>
            </div>
        </div>
        <hr />
        <div style="width: 100%; margin: 0 auto; ">
{% if notseen == 'true' %}
    <div style="display: flex; margin: 5%;">
        <div style="align-items: center; width: 50%; justify-content: center; display: flex;">
            <table id="display-result" name="display-result" style="align-items: center; width: 350px; height: 420px; border-spacing: 5px">
                {% for word, char in result %}
                <tr>
                        {% for letter in word %}
                            {% if char[loop.index0] == 0 %}
                            <td style="background-color: #787c7e; color: white;  width: 20%; text-align: center; font-size: 1.5rem; font-weight: bold; "> <p> {{letter.upper()}}</p> </td>

                            {% elif char[loop.index0] == 1 %}
                            <td style="background-color: #c9b458; color: white;  width: 20%; text-align: center; font-size:1.5rem; font-weight: bold; "> <p> {{letter.upper()}}</p> </td>

                            {% else %}
                            <td style="background-color: #6aaa64;   color: white; width: 20%; text-align: center; font-size:1.5rem; font-weight: bold; "> <p> {{letter.upper()}}</p> </td>
                            {% endif %}
                        {%endfor%}
                    </tr>
                {%endfor%} 
            </table> 
        </div>
        <div>
            <form action="/compare" name="inputword" id="inputword" method="POST">
                <label for="newword" style="font-size: 30px; font-weight: bold; ">Enter Five Letter Word To Compare</label> <br />
                <input type="text" id="newword" name="newword" required minlength="5" maxlength="5" placeholder="Five letter word"> <br />
                <input type="hidden" value="false" name="hide" id="hide" />

                <button type="submit">Compare Word</button> 
            </form>
            <p style="margin: 5px; margin-left: 10%; font-size: 30px; "> {{message}}   </p>
           
            </div>
    </div>
{% else %}
        <div style="align-items: center; justify-content: center; display: flex; margin-top: 2%">
            <table id="display-result" name="display-result" style="align-items: center; width: 350px; height: 420px; border-spacing: 5px">
                {% for word, char in result %}
                    <!-- <div id="inner-list" class="inner-list" style="font-size: 30px; padding: 3px; width: 100%: height: 420px; border: 1px;">-->
                <tr>
                        {% for letter in word %}
                            {% if char[loop.index0] == 0 %}
                            <td style="background-color: #787c7e; color: white; ">  </td>

                            {% elif char[loop.index0] == 1 %}
                            <td style="background-color: #c9b458; color: white;  "> </td>

                            {% else %}
                            <td style="background-color: #6aaa64;   color: white;  "> </td>
                            {% endif %}
                        
                        {%endfor%}
                    </tr>
                {%endfor%} 
            </table>
                
        </div>
{% endif %}
        
    </div>
    </body>
</html>